@import 'src/scss/vars';

.workout {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  background-color: $bg-primary;
  border-radius   : 10px;
  margin-bottom   : 20px;
  border          : 2px solid #ddd;

  .title {
    font-size: 17px;
    margin   : 10px;
  }

  .muscle-scroll {
    display         : flex;
    margin          : 10px;
    background-color: $bg-primary;

    .muscle-groups {
      display         : flex;
      justify-content : center;
      align-items     : center;
      width           : 40px;
      height          : 40px;
      background-color: $bg-muscle;
      border-radius   : 5px;
      margin-right    : 5px;

      img {
        width : 30px;
        height: 30px;
      }
    }
  }

  .actions {
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: center;
    margin-right   : 20px;

    .action-button {
      display        : flex;
      justify-content: center;
      align-items    : center;
      width          : 25px;
      height         : 25px;

      img {
        width : 20px;
        height: 20px;
      }
    }
  }
}
