<div class="workout">
  <a (click)="onEdit()">
    <div class="info">
      <div class="title">{{item.name}}</div>
      <div class="muscle-scroll">
        <div class="muscle-groups" *ngFor="let m of muscleGroups">
          <img [src]="imgMuscle(m)">
        </div>
      </div>
    </div>
  </a>
  <div class="actions" *ngIf="showAdd || showEdit || showGo">
    <div class="action-button" (click)="onAdd()" *ngIf="showAdd">
      <img [src]="imgAction" />
    </div>
    <div class="action-button" (click)="onDel()" *ngIf="showDel">
      <img src="assets/images/icons/trash-black.png" />
    </div>
    <div class="action-button" (click)="onGo()" *ngIf="showGo">
      <img src="assets/images/icons/play-black.png" />
    </div>
  </div>
</div>
