@import 'src/scss/vars';

.tab-myworkout-edit {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .container {
    align-items: flex-start;

    form {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      align-items    : flex-start;
      width          : 100%;
      margin         : 15px 0;

      input {
        border       : 1px solid #ccc;
        width        : 98%;
        height       : 20px;
        border-radius: 5px;
        font-size    : 15px;
        padding      : 5px 0 5px 5px;
        color        : $text-primary;
      }

      .exercises-area {
        display        : flex;
        justify-content: center;
        flex-direction : column;
        width          : 100%;
        border-top     : 1px solid $bg-default;
        margin-top     : 10px;
        padding-top    : 10px;

        .workouts {
          overflow  : auto;
          margin-top: 10px;

          @media only screen and (max-height: 1366px) {
            height: 1101px;
          }

          @media only screen and (max-height: 1024px) {
            height: 762px;
          }

          @media only screen and (max-height: 823px) {
            height: 565px;
          }

          @media only screen and (max-height: 812px) {
            height: 554px;
          }

          @media only screen and (max-height: 736px) {
            height: 479px;
          }

          @media only screen and (max-height: 731px) {
            height: 475px;
          }

          @media only screen and (max-height: 720px) {
            height: 459px;
          }

          @media only screen and (max-height: 667px) {
            height: 411px;
          }

          @media only screen and (max-height: 653px) {
            height: 394px;
          }

          @media only screen and (max-height: 640px) {
            height: 385px;
          }

          @media only screen and (max-height: 568px) {
            height: 311px;
          }
        }
      }
    }
  }
}
