<app-stack>
  <div class="back" [routerLink]="'/starterDias'">
    <img src="assets/images/icons/back.png" alt="Back">
  </div>
  <div class="button" (click)="onNext()">
    Próximo
  </div>
</app-stack>

<div class="starter-nivel">
  <div class="container">
    <div class="header">
      <h1>{{funnyPhrase}}</h1>
      <p>Qual seu nível hoje?</p>
    </div>
    <div class="nivel">
      <div class="button button-default" [ngClass]="{'button-selected': storage.isBeginner(data?.level)}" (click)="data.level = 'beginner'">
        Iniciante / Um frango
      </div>
      <div class="button button-default" [ngClass]="{'button-selected': storage.isIntermediate(data?.level)}" (click)="data.level = 'intermediate'">
        Intermediário / Me viro bem
      </div>
      <div class="button button-default" [ngClass]="{'button-selected': storage.isAdvanced(data?.level)}" (click)="data.level = 'advanced'">
        Avançado / Primo do The Rock
      </div>
    </div>
  </div>
</div>
