@import 'src/scss/vars';

.starter-nivel {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .container {
    align-items: center;

    .nivel {
      display        : flex;
      flex-wrap      : wrap;
      justify-content: space-around;
      margin-top     : 30px;

      .button {
        width        : 100%;
        margin-bottom: 20px;
      }

      .nivel-exist {
        background-color: #A5E8BC;
      }
    }
  }
}
