@import 'src/scss/vars';

.tab-workout {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .container {
    align-items: center;

    .workouts {
      display        : flex;
      flex-direction : column;
      justify-content: center;
      width          : 100%;
    }
  }
}

label {
  margin-bottom: 15px;
}
