$text-primary: #333;
$text-secondary: #fff;

$bg-primary: #fff;
$bg-secondary: #333;

$btn-primary: #0072C0;
$btn-primary-hover: #0072C0;
$btn-secondary: #4ac34e;
$btn-secondary-hover: #77eb7b;
$btn-default: #ddd;
$btn-default-hover: #fff;
$btn-selected: #A5E8BC;
$btn-selected-hover: #bbf3ce;

$hoje: #b5eeff;
$hoje-hover: #85d0e7;
$treino-feito: #b5ffb8;
$treino-feito-hover: #8ce78f;
$treino-perdido: #ffb5b5;
$treino-perdido-hover: #eb9a9a;
$dia-descanso: #f4f4f4;
$dia-descanso-hover: #d6d1d1;
$dia-futuro: #f4f4f4;
$dia-futuro-hover: #d6d1d1;
