/* You can add global styles to this file, and also import other style files */
@import './vars';


@font-face {
  font-family: "Lato";
  src        : url(./../assets/fonts/Lato-Regular.ttf) format("truetype");
}


body {
  margin          : 0;
  padding         : 0;
  background-color: $text-secondary;
  font-family     : "Lato", Arial, Helvetica, sans-serif;
}

.container {
  display       : flex;
  flex-direction: column;
  height        : 80%;
  width         : 80%;
}

.button {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : auto;
  color           : $text-secondary;
  background-color: $btn-primary;
  padding         : 10px 20px;
  border-radius   : 100px;

  &:hover {
    background-color: $btn-primary-hover;
  }

  &.button-secondary {
    background-color: $btn-secondary !important;

    &:hover {
      background-color: $btn-secondary-hover;
    }
  }

  &.button-default {
    background-color: $btn-default;
    color           : $text-primary;

    &:hover {
      background-color: $btn-default-hover;
    }
  }

  &.button-selected {
    background-color: $btn-selected;
    color           : $text-primary;

    &:hover {
      background-color: $btn-selected-hover;
    }
  }

  &.button-ligth {
    color           : $text-primary;
    background-color: $bg-primary;
  }
}

.button-selected {
  background-color: $btn-selected;
  color           : $text-primary;

  &:hover {
    background-color: $btn-selected-hover;
  }
}

.button-icon {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 30px;
  height         : 30px;

  img {
    width : 25px;
    height: 25px;
  }
}

.back {
  display        : flex;
  justify-content: center;
  align-items    : center;

  img {
    width : 20px;
    height: 20px;
  }
}

.header {
  margin-top: 15px;

  h1 {
    font-size  : 17px;
    color      : $text-primary;
    text-align : center;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  p {
    font-size : 18px;
    color     : $text-primary;
    text-align: center;

    span {
      font-weight: 700;
    }
  }
}

.opacity {
  opacity: 0.03;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
